<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Adoptantes</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Enlace a tu archivo de estilos personalizado si es necesario -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css">-->
    <style>
        /* Agrega un estilo personalizado para reducir el margen izquierdo */
        .container {
            margin-left: 15px; /* Ajusta este valor según sea necesario */
        }
    </style>
</head>
<body>
<h2></h2>
<h2></h2>
<!-- Menú -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item active">
                            <a class="nav-link" href="/adoptantes/">Lista de Adoptantes</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/animales/">Lista de Animales</a>
                        </li>
                        <li class="nav-item active">
                        <a class="nav-link" href="/proceso/">Lista de Procesos</a>
                    	</li>
                    	<li class="nav-item active">
                        <a class="nav-link" href="/historial/">Lista Historiales Clinico</a>
	                    </li>
                  		  <li class="nav-item active">
                        <a class="nav-link" href="/personal/">Lista de Personal Fundacion</a>
                    	</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

 <div class="container mt-5">
        <a href="/reporte/adoptantes/excel" class="btn btn-primary">Descargar Reporte</a>
    </div>

<div class="container mt-4">
    <h2>Lista de Adoptantes</h2>
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Barrio</th>
                <th>Fecha de Nacimiento</th>
                <th>Género</th>
                <th>Tipo de Documento</th>
                <th>Número de Cédula</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre la lista de adoptantes -->
            <tr th:each="adoptante : ${adoptantes}">
                <td th:text="${adoptante.idregistro_adoptante}"></td>
                <td th:text="${adoptante.primer_nombre}"></td>
                <td th:text="${adoptante.segundo_nombre}"></td>
                <td th:text="${adoptante.primer_apellido}"></td>
                <td th:text="${adoptante.segundo_apellido}"></td>
                <td th:text="${adoptante.telefono}"></td>
                <td th:text="${adoptante.correo}"></td>
                <td th:text="${adoptante.dirreccion}"></td>
                <td th:text="${adoptante.barrio}"></td>
                <td th:text="${#dates.format(adoptante.fecha_nacimiento, 'dd/MM/yyyy')}"></td>
                <td th:text="${adoptante.genero}"></td>
                <td th:text="${adoptante.tipo_documento}"></td>
                <td th:text="${adoptante.num_cedula}"></td>
                <td th:text="${adoptante.estado}"></td>
                <td>
                    <!-- Enlaces para editar y eliminar adoptantes -->
                    <a th:href="@{/adoptantes/editar/{id}(id=${adoptante.idregistro_adoptante})}" class="btn btn-primary btn-sm">Editar</a>
                    <a th:href="@{/adoptantes/eliminar/{id}(id=${adoptante.idregistro_adoptante})}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Enlace para agregar un nuevo adoptante -->
    <a href="/adoptantes/agregar" class="btn btn-success">Agregar Nuevo Adoptante</a>
</div>

<!-- Enlaces a los archivos JavaScript de Bootstrap (jQuery primero, luego Popper.js y finalmente Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
